@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;1,300&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root {
    --widhpr :1440px;
    --heipr : 900px ;
}

.parent-container {
width: var(--widhpr);
height: var(--heipr);
background-color: hsl(225, 100%, 98%);
position: relative;
left: 100px;
} 

.container {
background-color: hsl(225, 100%, 94%) ;
font-family: 'Red Hat Display';
font-size: 16px;
width: calc(var(--widhpr)*.9);
height: calc(var(--heipr)*.9);
background-image:url(../images/pattern-background-desktop.svg) ;
background-repeat: no-repeat;
background-position: top; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: contain; /* Resize the background image to cover the entire container */
position: relative;
left:calc(var(--widhpr)*0.05);
top:calc(var(--heipr)*0.05); 
font-weight: 500;
}

.template {
    display: grid;
    grid-template-columns: calc(var(--widhpr)*.9/3);
    justify-content: center;
    position: relative;
    top:calc(203px/2) ;
    border-bottom-left-radius:12px ;
    border-bottom-right-radius:12px ;
}
.text {
    text-align: center;
    background-color: white;
}
.plan {
    display: grid;
    grid-template-columns: repeat(3,100px);
    justify-content: center;
    align-items: center;
}
.plan .txt {
    display: grid;
    grid-template-columns: 100px;
    position: relative;
    right: 50px;
}
h4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.plan .txt p {
    padding-top: 0px;
    margin-top: 0px;
}

.first-image {
    border-top-left-radius:12px ;
    border-top-right-radius:12px ;
    width:  calc(var(--widhpr)*.9/3);
}
button {
    color: white;
    background: hsl(245, 75%, 52%);
    width: 312px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 45px;
}
.text .first {
    padding-left: 50px;
    padding-right: 50px;
}

.plan {
    background-color: hsl(225, 100%, 94%) ;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 20px;
}

p {
    color:hsl(224, 23%, 55%);
}